/notebooks/computer_science/** @NoecticAcademy/cs-team
/notebooks/finance/** @NoecticAcademy/finance-team
/notebooks/mathematics/** @NoecticAcademy/maths-team
/notebooks/software_development/** @NoecticAcademy/software-team
/notebooks/statistics/** @NoecticAcademy/